


/* body */

body {
  font-family: Helveica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}



/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  height: 69px;
  margin-top: 0;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  opacity: 0.9;
}



/* page */

.main {
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* Top of the page */

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin-bottom: 50px;
}

.content {
  background-color: black;
  width: 100%;
}



/* middle of the page */

.middle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 50px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}



/* bottom of the page */

.bottom {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  display: block;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 1200px;
  padding-top: 50px;
}

.location {
  display: inline-block;
  opacity: 1;
  background-color: black;
  width: 300px;
  margin: 0 20px 0 20px;
}

.contact {
  height: 200px;
  padding-bottom: 50px;
}



/* footer section */

footer {
  text-align: left;
  padding-left: 20px;
}



/* etc. */

a {
  color: white;
}

a:visited {
  color: white;
}
